#novidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;


    img {
        width: 90vw;

    }
}

@media (max-width: 768px) {

    #novidades {
        gap: 10px;
    }

    h2 {
        font-size: 20px;
    }
}